*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
}

body {
    display: flex;
    font-family: Roboto, "Open Sans", "Helvetica Neue", sans-serif;
    flex-flow: column;
    background-color: indigo;
    color: white;
}

header {
    font-size: 32px;
    text-align: center;
    padding: 20px;
}

#calc-con {
    box-shadow: 0 0 3rem black;
    align-self: center;
    display: flex;
    flex-direction: column;
    padding: 4px;
    border: 4px rgb(167, 81, 11) solid;
    background-color: rgb(189, 92, 13);
    min-width: 20vw;
    width: 28vw;
    height: 75vh;
    align-items: stretch;
}

#display {
    align-self: center;
    margin: 10px;
    background-color: black;
    color: white;
    width: 95%;
    height: 15%;
    border: 4px rgb(167, 81, 11) double;
    font-size: 4vw;
    text-align: right;
}

button {
    flex: 1 1 20%;
    font-size: 2vw;
    border-radius: 1rem;
    background-color: black;
    color: rgb(211, 104, 16);
    border: 4px rgb(167, 81, 11) double;
    transition: all .07s ease;
}

button:hover {
    box-shadow: 0 0 0.25rem black;
    background-color: rgb(26, 25, 25);
    transform: scale(1.05);
}

#button-con {
    display: flex;
    flex-flow: row wrap;
    gap: 3px;
    flex: 1;
    margin: 10px;
}

#zero {
    flex: 2 1 40%;
}

.operator {
    color: rgb(42, 167, 11);
    border: 4px rgb(42, 167, 11) double;
}
.clear-tier {
    color: rgb(149, 11, 167);
    border: 4px rgb(149, 11, 167) double;
}