*,
*::before,
*::after {
    padding:0;
    margin:0;
    border:0;
}

body {
    display: flex;
    font-family: Roboto, "Open Sans", "Helvetica Neue", sans-serif;
    flex-flow: column;
}

header {
    font-size:32px;
    text-align: center;
    padding:20px;
}

#body-con {
    display: flex;
    flex:1;
    flex-flow:row nowrap;
    align-items: center;
    justify-content: center;
}

#calc-con {
    display: flex;
    flex-direction: column;
    padding:4px;
    border:4px grey solid;
    background-color: black;
    width: 30vw;
    height:75vh;
    align-items: stretch;
}

#display {
    margin:10px;
    background-color: aliceblue;
    width:95%;
    height:15%;
}

button {
    flex:1;
    font-size: 32px;
    border-radius:5rem;
}

#button-con {
    display: flex;
    flex:1;
    justify-content: space-between;
    gap:2px;

}

#left-side {
    display: flex;
    flex:3;
    flex-direction: column;
}

#clear-commands {
    display: flex;
    flex:1;
    gap:5px;
    margin:5px;

}

#number-buttons {
    display: flex;
    flex-flow:column nowrap;
    flex:4;

}

#number-buttons div {
    display: flex;
    flex:1;
    gap:5px;
    margin:5px;
}

#zero {
    flex:2;
}

#right-side {
    display: flex;
    flex:1;
}

#operator-buttons {
    display: flex;
    flex:1;
    flex-flow:column nowrap;
    gap:5px;
    margin:5px;
}